<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.metatavu.muisti.exhibitionui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:required="false" android:name="android.hardware.faketouch"/>
    <uses-feature android:required="false" android:name="android.hardware.touchscreen"/>
    <application
        android:name=".ExhibitionUIApplication"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".views.PageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="behind" />

        <activity
            android:name=".views.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="behind">
        </activity>

        <activity
            android:name=".views.LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="behind">
        </activity>

        <activity
            android:name=".views.UpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.SetupActivity"
            android:label="Device Setup" />

        <service
            android:name=".services.UpdateUserValueService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".services.UpdateKeycloakTokenService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".services.UpdateRfidAntennaService" />

        <service
            android:name=".services.VisitorsService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".services.VisitorSessionsService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fi.metatavu.muisti.exhibitionui.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>